  <html>
  <header></header>
  <body>
  <div class="e2_7"></div><span  class="e2_8">Submit</span>
  <div class="e2_10"></div><span  class="e2_17">Complaint Name</span><span  class="e2_38">Registration Number</span><span  class="e2_41">Cell No.</span><span  class="e2_43">Subject</span><span  class="e2_44">Description</span><span  class="e2_30">Address</span><span  class="e2_35">Phone</span><span  class="e2_36">Email Address</span>
  <div class="e2_19"></div>
  <div class="e2_39"></div>
  <div class="e2_40"></div>
  <div class="e2_42"></div>
  <div class="e2_31"></div>
  <div class="e2_34"></div>
  <div class="e2_37"></div>
  <div class="e2_23"></div><span  class="e2_24">Enter Complaint Details</span>
  <div class=e2_25>
    <div class="e2_26"></div>
  </div><span  class="e2_27">Please Enter the Details of your cmplaint</span>
</div><div class=e2_45>
  <div class="e2_78"></div>
  <div class="e2_64"></div>
  <div class="e25_2"></div><span  class="e2_65">Thank You!</span>
  <div class=e2_66>
    <div class="e2_67"></div>
  </div><span  class="e2_68">Your Complaint has been successfully registered on GIKI Complaint Management System. Our representative will contact with you within one working day. You Complaint Tracking ID is</span><span  class="e2_71">159142</span><span  class="e2_72">Please save this number to track your complaint </span>
</div>
</body>
</html>
